PROJECT_NAME=serverops
PROJECT_TITLE=ServerOps
PORT=3100
JWT_SECRET_KEY=my-secret-key
DB_HOST=127.0.0.1
DB_NAME=serverops
DB_USER=root
DB_PASS=
API_PREFIX=/api/v1
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
API_DOCS_ENABLE=true
ENVIRONMENT=development
NODE_MIN_REQUIRED_VERSION=22.15.0